table{
  background-color: white;
}
th{
  font-size: 35px;
  font-weight: bold;
  background-color: rgb(240, 240, 101);
  color: red;
  padding: 0px;

}
td{
  font-weight: bold;
  padding: 5px;
  background-color: rgb(0, 190, 255);
  padding-left: 10px;
  padding-right: 10px;
}
.button-cell{
  text-align: center;
  height: 50px;


}
.button1 {
  padding: 10px 20px 10px 20px ;
  font-size: 18px;
  margin-left: 2px;
  margin-right: 2px;
}
#email{
  width: 210px;
  height: 80px;
}
.droppy{
  width: 7em;
}